body {
  background-image: url(../img/pattern.jpg);
}
header{
  background-color: white;
  display: flex;
  justify-content: space-between;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  /*width: 100%;*/ /* Full width */
  width: 100%;
  left: 0;
}
ul{
  position: absolute;
  right: 20px;
}
li{
  display: inline-block;
  padding-right: 10
}
section{
  background-color: white;
  margin-left: 150;
  margin-top: 70;
  padding:20 ;
  margin-right: 150;
}
h1{
  text-align: center ;
}
/*p{
  border-bottom-style: solid;
  border-bottom-color: black;
}*/
article{
  margin: 15;
  padding: 10;
  border-bottom: black solid 3px;
}
footer{
  background-color: black;
  text-align: center;
  padding: 2px;
  /*margin-left:0 ;*/
  width: 100%;
  position: absolute;
  left: 0;


}
h5{
  color: white;
}